{:deps {org.clojure/clojure {:mvn/version "1.12.0-alpha3"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        io.replikativ/konserve {:mvn/version "0.7.311"}
        cc.qbits/alia {:mvn/version "5.0.0"}
        cc.qbits/hayt {:mvn/version "4.1.0"}
        com.taoensso/timbre {:mvn/version "6.1.0"}}
 :aliases {:test {:main-opts ["-m" "kaocha.runner"]
                  :extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.82.1306"}
                               org.slf4j/slf4j-simple {:mvn/version "2.0.7"}}}
           :build  {:deps {io.github.clojure/tools.build          {:mvn/version "0.9.3"}
                           slipset/deps-deploy                    {:mvn/version "0.2.0"}
                           io.github.borkdude/gh-release-artifact {:git/sha "b946558225a7839f6a0f644834e838e190dc2262"}
                           babashka/babashka.curl                 {:mvn/version "0.1.2"}
                           babashka/fs                            {:mvn/version "0.3.17"}
                           cheshire/cheshire                      {:mvn/version "5.11.0"}}
                    :ns-default build}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}}}
