{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.610"}
        io.replikativ/konserve {:local/root "../konserve"}
        io.replikativ/incognito {:local/root "../incognito"}
        cc.qbits/alia {:mvn/version "4.3.3"}
        cc.qbits/alia-async {:mvn/version "4.3.3"}
        cc.qbits/hayt {:mvn/version "4.1.0"}}}
